rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /managed/{allPaths=**} {
      allow read: if true;
      allow write, delete: if request.auth != null
        && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'super_admin';
    }
  }
}
